<link rel="stylesheet" type="text/css" href="/wintergarten.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <!-- Header -->
  <header class="w3-container w3-xlarge w3-padding-24">
    <a href="/" class="w3-left w3-button w3-white">MY DEMO</a>
    <a href="#about" class="w3-right w3-button w3-white">Search</a>
    <a href="#about" class="w3-right w3-button w3-white">Partners</a>
    <a href="/analytics" class="w3-right w3-button w3-white">Analytics</a>
    <a href="/live" class="w3-right w3-button w3-white">Live</a>
    <a href="#about" class="w3-right w3-button w3-white">Shop</a>
  </header>


  <body>
    <section class="row bg-cover bg-camera">
      <div class="small-centered text-center padding-vert-large ratio ratio--5-2">
        <div data-component="player">
          <div class="ratio ratio--5-2">
            <iframe src="<%= authorization.player.host %><%= authorization.player.path %>?color=804732&autoplay=1&sharing=0&authorization=<%= authorization.token %>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>
      </div>
    </section>


    <section class="small-centered small-1-1 medium-1-2 padding-top-large">
      <header class="row margin-vert-medium">
        <h2 class="col small-1-1 medium-1-2 head-2 text-left"> <%= authorization._embedded.video.title %> </h2>
      </header>
      <div class="text-3"> <%= authorization._embedded.video.description %></div>
    </section>

  </body>
