
<link rel="stylesheet" type="text/css" href="/wintergarten.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">

<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <header class="w3-container w3-xlarge w3-padding-24">
    <a href="/" class="w3-left w3-button w3-white">MY DEMO</a>
    <a href="#about" class="w3-right w3-button w3-white">Search</a>
    <a href="#about" class="w3-right w3-button w3-white">Partners</a>
    <a href="/analytics" class="w3-right w3-button w3-white">Analytics</a>
    <a href="/live" class="w3-right w3-button w3-white">Live</a>
    <a href="#about" class="w3-right w3-button w3-white">Shop</a>
  </header>

<body>
<section class="row bg-cover carousel-item">
  <div class="small-centered text-center padding-vert-large ratio ratio--5-2">
    <div data-component="player">
      <div class="ratio ratio--5-2">
        <iframe src="https://embed.vhx.tv/videos/<%= carouselitemid %>?api=1&tracking=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="padding-large">
  <header class="row margin-vert-medium">
    <h2 class="col small-1-1 medium-1-2 head-2 text-left"><%= carouselitemname %></h2>
  </header>
  <div class="text-3">
    <%= carouselitemdescription %>
  </div>
  <h2 class="col small-1-1 medium-1-2 head-2 text-left"></h2>
  <div class="text-3">
    <h2 class="small-1-1 medium-1-2 head-2">Director</h2>
    <%= Director %>
  </div>
  <div class="text-3">
    <h2 class="small-1-1 medium-1-2 head-2">Sounds</h2>
    <%= Sounds %>
  </div>
  <div class="text-3">
    <h2 class="small-1-1 medium-1-2 head-2">Available</h2>
    <a href="<%= Available %>">
      <%= Available %>
    </a>
  </div>
  <h2 class="small-1-1 medium-1-2 head-2 text-left">Star Rating</h2>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
</div>
</section>
</body>

</div>
