<p>
  Name:
  <%= user.name %><br/>
    <% if (user.email) { %>
      Email:
      <%= user.email %><br/>
        <% } %>
</p>
<a href="/logout">Log out</a>

<a href="<%= otturl%>">OTT URL</a>

<div>
  <% watchlist.forEach(function(list) { %>
    <div>
      <h3><%= list.name %></h3>
      <img src="<%= list.thumbnail.medium %>" width="200" />
    </div>
    <% }) %>
</div>